$main-color:          #7DCBCF; // green
$main-color-dark:     #4AA2A5; // green dark
$second-color:        #1F2455; // magenta
$second-color-light:  rgb(244, 212, 228); // magenta light
$warning-color:       #FDC05D; // orange

$gray-light:          #F2F2F2;
$gray-dark:           #231F20;

$text-color:          $gray-dark;

$font-family:         -apple-system, Monserrat, OpenSans, sans-serif;
$font-size:           14px;
$line-height:         2.14;

$screen-sm:           768px;
$screen-md:           992px;
$screen-lg:           1200px;
$screen-xl:           1920px;
